<div class="container">
  <div class="search-container">

    <h2>Search "<%= @word %>"</h2>

    <div class="response-container">
      <p>Common phrase: <%= @also %></p>
    </div>
  </div>

  <%= render 'recent_searches' %>

</div>
